/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/11/2019, 11:57:41
    Author     : andersonfreire
*/

.title-pg{
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
}
.delete{
    background: #b12020;
}
.edit{
    background: #242063;
}
.actions-over{
    padding: 6px;
    color:#FFF;
    text-decoration: none;
    font-size: 1em;
    margin:0px 2px;
}